#Home {
	background-image:  linear-gradient(to right, rgba(255,255,255, 0),rgba(255, 255, 255, 0.845)), url("https://static.wixstatic.com/media/249783_36af6a59986641f4a704cd3538e16417~mv2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	text-align: center;
}
#Home h1 {
	color: white;
	font-weight: bolder;
}
@media (min-width:375px) {
	#Home h1 {
		font-size: 50px;
	}
}

@media (min-width: 576px) {
	#Home h1 {
		font-size: 90px;
	}
}

#Home .container {
	height: 100%;
}

@media (min-width: 375px) {
	#Home .container {
		padding-top: 20%;
		padding-bottom: 20%;
	}
}

.btn:hover {
	text-decoration: none;
}