@import url('https://fonts.googleapis.com/css?family=Special+Elite');

blockquote {
	font-family: 'Special Elite', cursive;
	font-size: 2rem;
	max-width: inherit;
	line-height: 1.4;
	position: relative;
	margin-top: 8rem;
}

blockquote::before,
blockquote::after {
	color: #46443de5;
	font-size: 8rem;
}

blockquote::before {
	content: '“';
	position: absolute;
	top: -4rem;
	left: -1rem;
}

blockquote::after {
	content: '”';
	position: absolute;
	bottom: -9.5rem;
	right: -1rem;
}

cite {
	line-height: 2;
}