blockquote {
	font-family: 'Cormorant Garamond', serif;
}

@media (min-width: 375px) {
	blockquote {
		font-size: 1.5rem;
		line-height: 1.5rem;
		padding-top: 1rem;
	}	
}
@media (min-width: 1200px) {
	blockquote {
		font-size: 2.5rem;
		line-height: 3.5rem;
		padding-top: 1rem;
	}
}

#quote-footer {
	padding-bottom: 2rem;
}

blockquote::before,
blockquote::after {
	color: inherit;
	font-size: inherit;
}

blockquote::before {
	content: '“';
}

blockquote::after {
	content: '”';
}

#tree-bottom {
	height: 150px;
	background-image: url("https://static.wixstatic.com/media/249783_d87aa89bb473474da923e62cf0973b6c~mv2.png");
	background-repeat: no-repeat;
	background-size: cover;
	transform: scaleY(-1);
}

#Quotes {
	background-image: url("https://images.pexels.com/photos/172296/pexels-photo-172296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-repeat: repeat;
	background-position: 0;
	position: relative;
}

#Quotes .container {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

#blank-page {
	background-color: white;
	transform: rotate(-2deg); 
	box-shadow: 0px 5px 10px rgba(58, 58, 58, 0.795);
	padding: 2rem;
	min-width: 300px;
	min-height: 400px;
	width: 600px;
	display: grid;
	align-content: center;
}

#img-tolkien {
	width: 280px;
	position: relative !important;
}
#photo {
	width: 320px;
	box-shadow: 0px 10px 20px rgba(58, 58, 58, 0.795);
	border: antiquewhite solid 20px;
	text-align: center;
	font-size: small;
	background-color: antiquewhite;
	transform: rotate(5deg); 
}

#refresh svg:hover {
	fill: black;
	animation: refresh-spin .5s linear;
}

@keyframes refresh-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }