blockquote {
	font-family: 'Cormorant Garamond', serif;
	font-size: 2.5rem;
	line-height: 3.5rem;
	padding-top: 1rem;
	text-transform: uppercase;
}

#quote-footer {
	padding-bottom: 2rem;
}

footer blockquote {
	font-size: 2.5rem;
	line-height: 2.5rem;
}

footer cite {
	font-size: smaller;
}

blockquote::before,
blockquote::after {
	color: inherit;
	font-size: inherit;
}

blockquote::before {
	content: '“';
}

blockquote::after {
	content: '”';
}

#img-tolkien {
	width: 340px !important;
	min-width: 340px !important;
	position: relative !important;
	box-shadow: 10px 0px 20px rgba(58, 58, 58, 0.795);
}

.row {
	align-items: center;
}
.tolkien-row {
	max-width: 400px;
}